/.vscode
/include/stb/README.md
/bin/*
/steps.txt
/FreeImage3180.zip
/commands
/z_garbage
/*.ico
/*.png
/*.jpg
/*.jpeg
/*.bmp
/include/freetype
/include/SDL_ttf.h
/include/ft2build.h
/*.zip
/test
/include/stb/*
/include/SDL2/*
/share/*
/lib/*
/Output/